#nav {
  margin-top: 5px;

  .navbar {
    padding: 20px;
    display: flex;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;

    h1 {
      color: #ffc400;
      text-shadow: 1px 1px 2px rgb(0, 0, 0);
    }

    .links {
      margin-left: auto;
    }

    a {
      font-weight: 1000;
      margin-left: 16px;
      text-decoration: none;
      padding: 6px;

      &:hover {
        color: #ffffff;
        border-radius: 4px;
        background-color: #ffc400;
      }
    }
  }
}
